@font-face {
    font-family: 'Pixel';
    src: url('../static/fonts/Pixel.ttf');
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Therminal', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

body.loaded #preloader {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.task-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.task {
    line-height: 1.5;
}

.input-command {
    padding: 5px;
    font-family: 'Therminal', monospace;
    font-size: 16px;
}

.input-symbol {
    padding: 5px;
    font-family: 'Therminal', monospace;
    font-size: 16px;
    width: 32px;
}

.run-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.run-button:hover {
    background-color: #0056b3;
}

.console {
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    overflow-y: auto;
}

/* спани терміналу */
.console-text {
    line-height: 1.5;
    color: #000000;
    word-wrap: break-word;
}

.highlight-input {
    font-weight: bold;
    color: #008000;
}

.error-text {
    font-weight: bold;
    color: #ff0000;
}

/* спани редактору */
.function-keyword {
    color: #a020f0;
}

.function-name {
    color: #0000ff;
}

/* вигляд курсору */
.cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #000000;
    animation: blink 1s infinite;
}

/* анімація курсора */
@keyframes blink { 
    0%, 100% { background-color: #000000; }
    50% { background-color: transparent; }
}

/* анімація прелоадера */
@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hint-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hint-text {
    color: black;
    font-size: 16pt;
    font-family: 'Therminal', monospace;
    text-align: center;
    font-weight: bold;
}

.comment {
    font-family: 'Therminal', monospace;
    font-size: 16px;
    font-style: italic;
    color: #858484;
    margin: 10px 0;
} 

.laptop-screen {
    width: 80%;
    max-width: 750px;
    height: 350px;
    background-color: #333;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Pixel';
    font-size: 32pt;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    border: 8px solid #222;
    padding: 20px;
}

.monitor-stand {
    width: 80px;
    height: 20px;
    background-color: #333;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.monitor-base {
    width: 150px;
    height: 20px;
    background-color: #333;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid #222;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.screen-text {
    display: none;
    text-align: center;
    font-size: 32pt;
}

.laptop-screen.active {
    background-color: #007bff;
    color: #fff;
}

.laptop-screen.active .screen-text {
    display: block;
}

.laptop-screen.inactive {
    background-color: #333;
    color: #888;
}

#map {
    width: 80%;
    height: 400px;
    border-collapse: collapse;
    margin: 0 auto;
}

#map td {
    border: 1px solid gray;
    width: 16.66%; /* 1/6 від ширини таблиці */
    height: calc(400px / 6);
    text-align: center;
}

.green {
    background-color: green;
}

#character {
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.select-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.select-container label {
    margin-right: 10px;
    font-weight: bold;
}

.select-container select {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none; /* Вимикає стандартний вигляд на деяких браузерах */
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px; /* Фіксуємо однакову ширину для всіх select */
    height: auto; /* Виправлення висоти */
}

.select-container select:hover {
    border-color: #0056b3;
}

.select-container select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#audit_page_cont {
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.auditory_container {
    width: 300px;
}

.audit_main_text {
    font-family: 'Therminal', monospace;
    font-size: 24px;
    font-weight: bold;
}

.audit_desc_text {
    font-family: 'Therminal', monospace;
    font-size: 16px;
}

.result_audit {
    border-radius: 32px;
    width: 400px;
    height: 600px;
    background-color: #000000; /* Чорний фон за замовчуванням */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: 'Pixel';
    font-size: 32pt;
    position: relative; /* Для позиціонування гіфки */
    overflow: hidden; /* Ховаємо все, що виходить за межі */
    transition: background-color 0.3s ease; /* Анімація зміни кольору фону */
}

.result_audit.parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../static/images/paralax.gif'); /* Вкажіть шлях до вашої гіфки */
    background-size: cover; /* Параметр для фону */
    background-position: center; /* Центруємо зображення */
    background-repeat: no-repeat; /* Забороняємо повторення зображення */
    z-index: 0; /* Зафіксувати за іншими елементами */
}

.result_audit > * {
    position: relative; /* Позиціонування для дочірніх елементів */
    z-index: 1; /* Забезпечує, що текст і зображення над гіфкою */
}

.gameName {
    color: white;
}

.auditImage {
    width: 90%;
    border-radius: 24px;
}

.auditory_container select, input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none; /* Вимикає стандартний вигляд на деяких браузерах */
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px; /* Фіксуємо однакову ширину для всіх select */
    height: auto; /* Виправлення висоти */
}

.auditory_container select:hover, input:hover {
    border-color: #0056b3;
}

.auditory_container select:focus, input:hover {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auditory_container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}